@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 18px;
}

h1 {
  color: white;
  font-size: 5rem;
  font-family: 'Indie Flower', cursive;
}

h3 {
  text-align: center;
  color: grey;
}

b {
  color: red;
}

.small, .big {
  width: 100%;
  background-image: url('./img/sky2.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: 1s;
}

.small {
  height: 75vh;
}

.big {
  height: 100vh;
}

.title {
  display: flex;
  justify-content: center;
  align-content: center;
}

.search {
  width: initial;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  color: white;
}

.direct {
  margin-right: 1rem;
}

.fields {
  display: flex;
  justify-content: space-around;
}

.field {
  margin: 1rem;
}

.submit {
  display: flex;
  align-items: center;
  margin: 1rem;
}

button {
  height: 3rem;
  width: 25vw;
  background-color: rgb(120, 236, 120);
  border-radius: 5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 200;
  border: none;
}

.searchbtn {
  background-color: rgb(120, 236, 120);
}

.showmore {
  background-color: rgb(120, 209, 236);
  margin-bottom: 1rem;
  margin: 1rem auto;
}

select, .date{
  height: 3rem;
  width: 25vw;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  background-color: white;
}

.date {
  border: none;
  font-family: sans-serif;
}

.loading-spinner {
  width: 100px;
  height: 100px;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 30vw;
  top: 30vh;
  background-color: white;
  opacity: .9;
  width: 40vw;
  height: 40vh;
  border-radius: 2em;
  justify-content: center;
  align-items: center;
}

.list {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.flight-item {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding: .5em;
}

.flight-prop {
  width: 20%;
  text-align: center;
}

.col-name {
  font-weight: bold;
}

@media screen  and (max-width: 567px) {
  h1 {
    font-size: 2rem;
    margin: 1rem;
  }
  
  .fields {
    flex-direction: column;
  }

  .field {
    font-size: 0.75rem;
  }

  .search {
    height: initial;
  }

  select, .date{
    width: 80vw;
    height: 2.5rem;
  }

  .submit {
    flex-direction: column;
    align-items: flex-start;
  }

  button {
    width: 80vw;
  }

  .spinner-container {
    width: 80vw;
    left: 10vw;
  }
}

@media screen and (max-height: 320px) {
  h1 {
    font-size: 3rem;
    margin: 1rem;
  }

  select, .date{
    height: 2.5rem;
  }

  button {
    height: 2.5rem;
  }

  .spinner-container {
    height: 70vh;
    top: 15vh;
  }
}